<!DOCTYPE html>
<html>
<head>
  <title>RoadGuard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>
        <img src="{{ url_for('static', filename='logo.png') }}" alt="RoadGuard Logo">
        <br>
        RoadGuard
      </h1>
    <form id="hazardForm">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" required>
      <label for="type">Type of Hazard:</label>
      <select id="type" name="type">
        <option value="Accident">Accident</option>
        <option value="Road Hazard">Road Hazard</option>
        <option value="Incident">Incident</option>
        <option value="Other">Other</option>
      </select>
      <label for="description">Description:</label>
      <textarea id="description" name="description" required></textarea>
      <button type="submit">Submit Hazard Report</button>
    </form>
    <div id="hazardReports">
      <!-- Hazard reports will be displayed here -->
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
